importing modules

In [41]:
import os
import pandas as pd
import ast

sector data - clean

In [47]:
df = pd.read_csv(r"C:\prj_stock_analysis\datas\Sector_data - Sheet1.csv")
df.head()

             COMPANY         sector                         Symbol
0  ADANI ENTERPRISES  MISCELLANEOUS  ADANI ENTERPRISES: ADANIGREEN
1  ADANI PORTS & SEZ  MISCELLANEOUS  ADANI PORTS & SEZ: ADANIPORTS
2   APOLLO HOSPITALS  MISCELLANEOUS   APOLLO HOSPITALS: APOLLOHOSP
3       ASIAN PAINTS         PAINTS       ASIAN PAINTS: ASIANPAINT
4          AXIS BANK        BANKING            AXIS BANK: AXISBANK

In [48]:
df = df.rename(columns={'Symbol' : 'Ticker'})
df = df.drop('COMPANY',axis = 1)


df.head()

          sector                         Ticker
0  MISCELLANEOUS  ADANI ENTERPRISES: ADANIGREEN
1  MISCELLANEOUS  ADANI PORTS & SEZ: ADANIPORTS
2  MISCELLANEOUS   APOLLO HOSPITALS: APOLLOHOSP
3         PAINTS       ASIAN PAINTS: ASIANPAINT
4        BANKING            AXIS BANK: AXISBANK

In [49]:
def fix_to_value(s):
    parts = s.split(':')
    if len(parts) == 2:
        return parts[1].strip()
    return None

df['Ticker'] = df['Ticker'].apply(fix_to_value)
df.head()

          sector      Ticker
0  MISCELLANEOUS  ADANIGREEN
1  MISCELLANEOUS  ADANIPORTS
2  MISCELLANEOUS  APOLLOHOSP
3         PAINTS  ASIANPAINT
4        BANKING    AXISBANK

#CHECK

In [50]:

a1 = pd.read_csv(r"C:\prj_stock_analysis\datas\aggregated_data_1\ADANIENT.csv")
a1.columns

Index(['Ticker', 'close', 'high', 'low', 'open', 'volume', 'Day', 'Month',
       'Year', 'Time', 'Daily_Return', '30-Day Volatility',
       'Volatility Percentage', 'Cumulative Return', 'cum_Percentage'],
      dtype='object')

YEARLY -> MERGING -> SORTING -> AVERAGE

In [ ]:
stock_folder = r"C:\prj_stock_analysis\datas\aggregated_data_1"
output_file = r"C:\prj_stock_analysis\datas\sector_avg_return.csv"


# yearly returns dic
df_new_list = []



for file in os.listdir(stock_folder):
        Ticker = file.replace('.csv', '')  
        file_path = os.path.join(stock_folder, file)
        df1 = pd.read_csv(file_path) 
        

        # Calculate Yearly Return
        start_price = df1.iloc[0]['close']
        end_price = df1.iloc[-1]['close']
        yearly_return = ((end_price - start_price) / start_price) * 100
        df_new_list.append({'Ticker': Ticker, 'Yearly Return': yearly_return})



returns_df = pd.DataFrame(df_new_list)
merged_df = pd.merge(returns_df, df, on='Ticker', how='left')
sector_avg = merged_df.groupby('sector')['Yearly Return'].mean().reset_index()

print("successful")

successful

SORTING AND SAVING

In [60]:
df3

             sector  Yearly Return
0         RETAILING       0.857101
1       AUTOMOBILES       0.819753
2         ALUMINIUM       0.729030
3           FINANCE       0.390374
4            CEMENT       0.372706
5          TEXTILES       0.352545
6              FMCG       0.346549
7            PAINTS       0.185507
8           BANKING       0.142651
9             STEEL       0.061598
10      ENGINEERING       0.015601
11            POWER       0.005632
12        INSURANCE      -0.136698
13           ENERGY      -0.220390
14  PHARMACEUTICALS      -0.282380
15          DEFENCE      -0.405515
16         SOFTWARE      -1.062692
17           MINING      -1.519120
18    MISCELLANEOUS      -1.520905
19   FOOD & TOBACCO      -2.082511

SORTING -> SAVE -> PERCENTAGE ADDTION

In [61]:
sector_mean_df = sector_avg.sort_values(by='Yearly Return', ascending=False)
sector_mean_df.to_csv(output_file, index=False)
df3 = pd.read_csv(r"C:\prj_stock_analysis\datas\sector_avg_return.csv")
df3['Percentage'] = df3['Yearly Return'] * 100 
df3.to_csv(r"C:\prj_stock_analysis\datas\sector_avg_return.csv",index= False)

In [62]:
c = ''
for i in range(10):
    c += b'\xF0\x9F\x98\x8A'.decode('utf-8')
print("Completed a part", c)

Completed a part ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š